body {
  padding: 0;
  margin: 0;
}

.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.img-header{
  border-radius: 40px;
  border:solid;
  border-width: 3px;
  border-color:rgb(128, 128, 128);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 0px, rgba(0, 0, 0, 0.22) 15px 15px 15px 15px;
  
}

.about-me {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(204, 204, 204);
  position: relative;
}
.divisor{

  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 2px;
  background-color: black;
  
}

.information {
  flex: 1;
  background: rgb(204, 204, 204);
}

.nav {
  height: 75px;
  background-color: rgb(204, 204, 204);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}
.divisor-nav{

  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;

}

.nav>button {
  margin: 0 1rem 0 0;
  height: 3rem;
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav>button:hover {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.button-container>button{
  margin: 0 1rem 0 0;
  height: 3rem;  
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.button-container>button:hover {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.title{
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}


.section {
  max-height: calc(100% - 75px);
  overflow-y: auto;
  background-color: aqua;
}
